@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";

@theme {
    --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: "Playfair Display", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

    /* Light Theme Palette */
    --color-brand-cream: #fbfbf9;
    /* Fond principal très clair */
    --color-brand-black: #1a1a1a;
    /* Texte principal */
    --color-brand-gold: #c5a028;
    /* Or un peu plus soutenu pour le contraste sur blanc */
    --color-brand-dark: #121212;
    /* Pour les footers / sections inversées */
    --color-brand-gray: #52525b;
    /* Texte secondaire */
    --color-brand-light-gray: #e4e4e7;
    /* Bordures subtiles */
}

@layer base {
    body {
        @apply bg-brand-cream text-brand-black font-sans antialiased;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-serif;
    }
}